<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498493727897-10q1hm0uggvvbl3uitdqal2tb4695u75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498493727897-10q1hm0uggvvbl3uitdqal2tb4695u75</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>498493727897-7jjv561jst3qnrls48fc2s4runhbd2tv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD47_6uijvFZXaoZniEmvcLw0v0XZyzGng</string>
	<key>GCM_SENDER_ID</key>
	<string>498493727897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.studially</string>
	<key>PROJECT_ID</key>
	<string>studially-2790e</string>
	<key>STORAGE_BUCKET</key>
	<string>studially-2790e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498493727897:ios:3e1e0f924cd3e4501e8408</string>
</dict>
</plist>